<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SmtpServer" value="dedrelay.secureserver.net"/>
    <add key="adminEmail" value="fcmbcmhr.appraisal@fcmb.com"/>
    <add key="AppraisalLink" value=""/>
    <!--<add key="adminEmail" value="fcmbcmhr.appraisal@firstcitygroup.com"/>-->
    <!--<add key="adminEmail" value="csrlhr.admin@firstcitygroup.com"/>-->
  </appSettings>
  <connectionStrings>
    <add name="excelO3ConString" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0};Extended Properties='Excel 8.0;IMEX=1'"/>
    <add name="excelO7ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;IMEX=1'"/>
    <add name="MangoEntities" connectionString="metadata=res://*/MangoEntities.csdl|res://*/MangoEntities.ssdl|res://*/MangoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mango;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="sapEntities" connectionString="server=.;database=Mango;Trusted_Connection=Yes;"/>
    <!--
        <add name="MangoEntities" connectionString="metadata=res://*/MangoEntities.csdl|res://*/MangoEntities.ssdl|res://*/MangoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Nitware\SQLExpress2008;initial catalog=Mango;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
        <add name="sapEntities" connectionString="server=Nitware\SQLExpress2008;database=Mango;Trusted_Connection=Yes;"/>
    -->
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <!--<pages controlRenderingCompatibilityVersion="4.0"/>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Mango.Service.ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Mango.Service.ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="Mango.Service.CustomBinding" closeTimeout="01:59:00" openTimeout="01:59:00" receiveTimeout="01:59:00" sendTimeout="01:59:00">
          <binaryMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Mango.Service.Service" behaviorConfiguration="Mango.Service.ServiceBehavior">
        <endpoint address="" binding="customBinding" bindingConfiguration="Mango.Service.CustomBinding" contract="Mango.Service.IService">
          <!--<identity>
            <dns value="localhost"/>
          </identity>-->
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>