<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MangoEntities" connectionString="metadata=res://*/MangoEntities.csdl|res://*/MangoEntities.ssdl|res://*/MangoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mango;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="MangoEntities" connectionString="metadata=res://*/MangoEntities.csdl|res://*/MangoEntities.ssdl|res://*/MangoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Nitware\SQLExpress2008;initial catalog=Mango;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>